:root {
    --colorwheelprimitives-1-primary-visible: initial;
    --colorwheelprimitives-1-primary-base: rgba(245, 245, 220, 1);
    --colorwheelprimitives-1-primary-100: rgba(245, 245, 220, 1);
    --colorwheelprimitives-1-primary-200: rgba(204, 204, 183, 1);
    --colorwheelprimitives-1-primary-300: rgba(165, 165, 148, 1);
    --colorwheelprimitives-1-primary-400: rgba(128, 128, 114, 1);
    --colorwheelprimitives-1-primary-500: rgba(92, 92, 82, 1);
    --colorwheelprimitives-1-primary-600: rgba(59, 59, 52, 1);
    --colorwheelprimitives-1-primary-700: rgba(28, 28, 24, 1);
    --colorwheelprimitives-1-secondary-visible: initial;
    --colorwheelprimitives-1-secondary-base: rgba(224, 224, 148, 1);
    --colorwheelprimitives-1-secondary-100: rgba(224, 224, 148, 1);
    --colorwheelprimitives-1-secondary-200: rgba(184, 184, 121, 1);
    --colorwheelprimitives-1-secondary-300: rgba(145, 145, 94, 1);
    --colorwheelprimitives-1-secondary-400: rgba(108, 108, 69, 1);
    --colorwheelprimitives-1-secondary-500: rgba(73, 73, 45, 1);
    --colorwheelprimitives-1-secondary-600: rgba(41, 41, 24, 1);
    --colorwheelprimitives-1-secondary-700: rgba(17, 17, 8, 1);
    --colorwheelprimitives-1-tertiary-visible: initial;
    --colorwheelprimitives-1-tertiary-base: rgba(255, 255, 255, 1);
    --colorwheelprimitives-1-tertiary-100: rgba(255, 255, 255, 1);
    --colorwheelprimitives-1-tertiary-200: rgba(214, 214, 214, 1);
    --colorwheelprimitives-1-tertiary-300: rgba(175, 175, 175, 1);
    --colorwheelprimitives-1-tertiary-400: rgba(137, 137, 137, 1);
    --colorwheelprimitives-1-tertiary-500: rgba(101, 101, 101, 1);
    --colorwheelprimitives-1-tertiary-600: rgba(67, 67, 67, 1);
    --colorwheelprimitives-1-tertiary-700: rgba(36, 36, 36, 1);
    --colorwheelprimitives-1-quaternary-visible: none;
    --colorwheelprimitives-1-quaternary-base: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-quaternary-100: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-quaternary-200: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-quaternary-300: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-quaternary-400: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-quaternary-500: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-quaternary-600: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-quaternary-700: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-quinary-visible: none;
    --colorwheelprimitives-1-quinary-base: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-quinary-100: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-quinary-200: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-quinary-300: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-quinary-400: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-quinary-500: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-quinary-600: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-quinary-700: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-senary-visible: none;
    --colorwheelprimitives-1-senary-base: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-senary-100: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-senary-200: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-senary-300: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-senary-400: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-senary-500: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-senary-600: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-senary-700: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-septenary-visible: none;
    --colorwheelprimitives-1-septenary-base: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-septenary-100: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-septenary-200: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-septenary-300: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-septenary-400: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-septenary-500: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-septenary-600: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-septenary-700: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-octonary-visible: none;
    --colorwheelprimitives-1-octonary-base: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-octonary-100: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-octonary-200: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-octonary-300: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-octonary-400: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-octonary-500: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-octonary-600: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-octonary-700: rgba(0, 0, 0, 1);
    --colorwheelprimitives-1-grey-visible: initial;
    --colorwheelprimitives-1-grey-base: rgba(244, 244, 237, 1);
    --colorwheelprimitives-1-grey-100: rgba(244, 244, 237, 1);
    --colorwheelprimitives-1-grey-200: rgba(204, 204, 198, 1);
    --colorwheelprimitives-1-grey-300: rgba(165, 165, 160, 1);
    --colorwheelprimitives-1-grey-400: rgba(127, 127, 123, 1);
    --colorwheelprimitives-1-grey-500: rgba(92, 92, 89, 1);
    --colorwheelprimitives-1-grey-600: rgba(59, 59, 57, 1);
    --colorwheelprimitives-1-grey-700: rgba(28, 28, 27, 1);
  }